{% extends "sitio_web_app/base.html" %}
{% load static %}
{% block content %}

    <section>

        <div class="informacion">

            <div class="informacion-div">

                <b> categorias: &nbsp;</b>
                
                {% for categoria in categoria%}

                    <a class="informacion-div-a" href="../../categoria/{{categoria.id}}/">

                        {{categoria.nombre}}
                        
                    </a>
                    /
                    
                {% endfor %}

            </div>

        </div>

    </section>


    <div class="container">
        
        <div class="row">

            {% for post in post %}
                
                <div class="col-sm-4 col-lg-4 col-xl-5">

                    <div class="blog align-items-center">
            
                        <div class="blog-text left-0 text-left bg-faded p-5 rounded">

                            <img class="blog-img img-thumbnail mb-3 mb-lg-0 rounded mx-auto d-block w3-card-4" src="{{post.imagen.url}}" alt=""> 
                
                            <h2 class="section-heading mb-4" >

                                <p class="section-heading-lower" style="text-align: center; font-size: 0.9em;">{{post.titulo}}</p>

                            </h2>

                            <p class="mb-3" style="text-align: center; font-size: 1em;">{{post.contenido}} </p>
                
                            <div style="text-align: left; font-size: 0.8em;" >
                    
                                post: {{post.autor}}
                    
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}