{% extends "sitio_web_app/base.html" %}
{% load static %}


{% block content %}


    {% if user.is_authenticated %}
        <div class="col-sm-12 col-lg-10 mx-auto py-5">
                    
            <div class="card">
                <div class="card-body" style="margin: 10px;">
                    <div class="card-title " style="text-align: center;">
                        <h2>¿En que te podemos ayudar?</h2>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                        
                          <div class="col-sm-6" >
            
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" name="nombre" value="{{ user.first_name }} ">
                          </div>

                         
                          <div class="col-sm-6"> 
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" name="email" value=" {{ user.email }} ">
                          </div>
                        </div>
                        <div class="form-group row">
                            
                          <div class="col-sm-12">
                            <label>Asunto:</label>
                            <input type="text" class="form-control" id="inputText" placeholder="Asunto" name="asunto">
                          </div>
                        
                          
                        </div>
                        <div class="form-group">
                            <label for="">Contenido:</label>
                            <textarea name="contenido" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Contenido"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" >Enviar</button>
                      </form>
                </div>
            </div>
        </div>
    {% else %}

        <div class="container">
            <div class="row bg-light col-md-8 mx-auto my-auto  p-4">
              <h2 class="mx-auto ">
                INICIE SESION
              </h2>
              <p class="mx-4">
                por favor antes de continuar se le pide que <a href="{% url 'login'%}"> <b>inicie sesion.</b> </a> <br>
                ¿es tu primera ves por aqui? registra de forma gratuita hacien click<a href="{% url 'registro'%}"><b> aqui </b></a>
              </p>
            </div>
        </div>

    {% endif %}


{% endblock %}