{% extends "sitio_web_app/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section cta mx-auto">
    <div class="container">
      <div class="intro">
       
        <div class="intro-text left-0 col-lg-12 mx-auto text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">E.E.S.T N°14</span>
          </h2>
          <p class="mb-3 text-left">
            Le damos la bienvenida a la Técnica 14, durante este breve recorrido le mostraremos las ventajas de la escuela técnica, 
            que formaciones tiene, cuales son sus ventajas, y muchas cosas mas que podrá ir mirando en este transcurso.

          </p>
        </div>
      </div>
    </div>
  </section>

   <section class="page-section cta mx-auto">
    <div class="container">
      <div class="intro">
       
        <div class="intro-text left-0 mx-auto text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">¿porque la técnica es lo mejor para su hijo/a</span>
          </h2>
          <p class="mb-3 text-left">
            Los alumnos de la Escuela Técnica tienen  mayor tiempo ocupado, 
            lo que puede ser una gran ventaja porque los padres saben que sus hijos pasan más horas en la institución, seguros y formándose.<br>
            Estos alumnos además de contar con la formación académica, como cualquier otra escuela secundaria, tienen talleres y laboratorios en los que se les enseña a trabajar:
            por ejemplo, a desarmar y conocer las computadoras por dentro, desarrollar programas y páginas web, elaborar proyectos conjuntos para aplicar software a otros elementos que utilizan tecnología de avanzada 
            y además hacen prácticas profesionales en empresas del sector y en organismos, donde aplican los contenidos aprendidos resolviendo distintas situaciones problemáticas del 
            trabajo cotidiano con diferentes plataformas de hardware y de software, armando, configurando, equipamiento o desarrollando aplicaciones.
          
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¡10 años siendo escuela técnica!</span>
              </h2>
              <p class="mb-0"> Luego de mucha lucha y esfuerzo la E.E.S.T N°14 cuenta con 18 aulas para ciclo básico, un area exclusiva para los talleres, con profesores capacitados y especializados en su area a enseñar.</p>
              <p class="mb-0"> Aspirando a tener la mejor formalidad técnica en todas sus especialidades </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <center >
    <iframe style="margin-bottom: 100px;" width="560" height="315" src="https://www.youtube.com/embed/ClbbhYN8_ec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>

           <!-- Message -->
           <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-9 mx-auto">
                  <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-lower">¡3 especialidades!</span>
                    </h2>
                    <p class="mb-0"> La escuela cuenta con 3 formalidades, todas desarrolladas de forma profesional y técnica</p>
                    <p class="mb-0"> En los siguientes cuadres encontrara explicacion detalla sobre nuestras 3 tecnicaturas: </p>
                    <p class="mb-0"> Tecnologías de los <a href="#Alimentacion"> alimentos</a> - <a href="#Programacion"> Programación </a> - <a href="#informatica"> informática </a> </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
  
      {% for servicio in servicio %}
  
  
      <section class="page-section clearfix">
          <div class="container" id="{{servicio.titulo}}">
            <div class="intro">
              
              <div class="intro-text mx-auto left-0 text-left bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                  <span class="section-heading-lower">{{servicio.titulo}}</span>
                </h2>
                <p class="mb-3">{{servicio.contenido}} </p>
              </div>
              <img class="intro-img img-thumbnail mb-3 mb-lg-0 rounded mx-auto d-block w3-card-4" src="{{servicio.imagen.url}}" alt="">
            </div>
          </div>
        </section>
      
    {% endfor %}
  
  {% endblock %}